<!-- <a class="position-fixed" [routerLink]="['home']">

  <div class="login-logo">
    <b style="margin-bottom: 5px; display: block">Activo | FMS</b>
  </div>
</a> -->

<a *ngIf=" sidebarExpanded == false  "class="brand-link pt-0 " style="position:absolute" [routerLink]="['home']" >

  <h5 class=" font-weight-dark pt-2 mb-0 mx-2 login-logo" style="margin-bottom: 5px; display: block"  > Activo | FMS </h5>

</a>


<a  *ngIf=" sidebarExpanded "  class="brand-link pt-0 " style="position:absolute" [routerLink]="['home']" >

  <h5  class="login-logo  font-weight-dark pt-2 mb-0  " style="margin-bottom: 5px; display: block"> BMS </h5>

</a>
<!-- brand-text -->